Repository lguzzon-scratchbook/ai-commit: changes, and which lint-staged commands are due for each by the changed paths.
All: npx standard --fix, npm run test:unit -- --passWithNoTests, npm audit

.lintstagedrc:

{
  "*.{js,jsx}": [
    "npx standard --fix",
    "npm run test:unit -- --passWithNoTests"
  ],
  "*.{json,md,yml,yaml}": [
    "npx standard --fix"
  ],
  "package.json": [
    "npm audit"
  ]
}

docs(adr): 📝 - Add comprehensive architecture decision records
  ARCHITECTURE.md
Due: npx standard --fix

docs(readme): 📝 - rewrite README with comprehensive project documentation
  README.md
Due: npx standard --fix

docs(security): 🛡️ - add comprehensive security policy
  SECURITY.md
Due: npx standard --fix

test(jest): 🧪 - add jest config for esm tests
  jest.config.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

chore(dev-deps): 🔧 - add testing, linting and docs tooling
  package.json
Due: npx standard --fix, npm audit

fix(api): 🐛 - improve error handling and add request timeout
  src/api/client.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

refactor(app): ♻️ - migrate to dependency injection architecture
  src/app.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

refactor(generator): ♻️ - refactor CommitGenerator with private fields and improved error handling
  src/commit/generator.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

feat(validator): ✨ - Add CommitMessageValidator for conventional commits
  src/commit/validator.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

refactor(config): ♻️ - convert static Config to instance-based
  src/config/index.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

feat(di): ✨ - add lightweight DI container
  src/di/container.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

feat(di): ✨ - introduce dependency injection container services
  src/di/services.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

feat(errors): ✨ - add standardized error codes and utilities
  src/errors/codes.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

feat(errors): ✨ - enhance error handling with structured codes
  src/errors/index.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

refactor(git): 🔒 - sanitize all user inputs and add error codes
  src/git/operations.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

feat(security): 🛡️ - add input sanitization utilities
  src/security/sanitizer.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

test(commit): 🧪 - add comprehensive tests for CommitGenerator
  tests/commit/generator.test.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

test(errors): 🧪 - add unit tests for AiCommitError and ErrorCodes
  tests/errors/index.test.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

test(security): 🧪 - add comprehensive tests for sanitizer module
  tests/security/sanitizer.test.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

test(tests): 🧪 - add Jest setup with mocks and env vars
  tests/setup.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

docs(typedoc): 📝 - add TypeDoc configuration for API docs
  typedoc.json
Due: npx standard --fix

ci(workflows): 🔧 - disable all jobs and add manual trigger
  .github/workflows/ci.yml
Due: npx standard --fix

chore(.github/workflows/ci.yml): - File deleted
  .github/workflows/ci.yml
Due: npx standard --fix

refactor(app): ♻️ - remove debug console.log
  src/app.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

chore(package.json): 🔧 - shorten release script flag
  package.json
Due: npx standard --fix, npm audit

chore(deps): 🔧 - Update dependencies
  package.json
Due: npx standard --fix, npm audit

refactor(versioning): ♻️ - Use Number.parseInt for version parsing
  src/app.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

refactor(generator): ♻️ - Replace string concatenation with template literal
  src/commit/generator.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

refactor(config): ♻️ - Use Number methods for NaN check
  src/config/index.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

fix(cli): 🐛 - Handle CLI arg parsing edge cases
  src/di/services.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests

refactor(config): ♻️ - improve configuration handling with validation and docs
  src/config/index.js
Due: npx standard --fix, npm run test:unit -- --passWithNoTests
